<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <title>Index</title>
      <link rel="stylesheet" href="/styles/style.css">
   </head>
   <body>
      <h1> LED GAME </h1>
      <div class = "score"> 
         <h2> CURRENT SCORE: {{ . }} </h2>
      </div>
      <div class="reset">
         <form method = "POST" action="/action">
             <label for="speed">Speed:</label>
             <input type="number" id="speed" name="speed" min="100" max="100000" required />
             <br /><br />
             <label for="repeat">Number of times to repeat:</label>
             <input type="number" id="repeat" name="repeat" min="1" max="1000" required />
             <br /><br />
            <input type="submit" class="btn" name="btn" value="START"/>
         </form>
         <br/><br/>
         <form method = "POST" action="/action">
            <input type="submit" class="btn" name="btn" value="RESET"/>
         </form>
      </div>
   </body>
</html>
